# build target
/**/cmake-build-android/
/**/cmake-build-android-release/
/**/cmake-build-android-debug/
/**/build/
/**/out/
/**/bin/

# local build directories
/build_sdl2/
/build_sdl2_msvc/
/build_harmony_arm64/
/build_harmony_x86_64/

.idea/
.vscode/
.vs/
.gradle/
.act/
.qtcreator/

local.properties

java_pid*.hprof
.DS_Store
*.pdb